body {
  line-height: 1.5;
    background: url('images/wood.png');
    color: #3b3b3b;
    
    font-family: 'Lato', sans-serif;
    margin:0;
}

h1 {
  
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: black;
  
}
a {
  color: #BFE35B;
  text-decoration: none;
}

.panel {
    margin: 15px 200px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 200;
    border: 1px solid #f7f7f6;
}

.question {
    padding: 15px;
   color: white;
   background: rgba(0,0,0,0.6);
   text-align: center;
  
  
}

.question:hover {
    color: #149ed8;
}

.arrow {
    width: 17px;
    height: 11px;
    float: right;
    margin-top: 5px;
}

.answer {
    padding: 25px;
}

.collapse {
    display: none;
}

.nav-container {
  background: #ff3300;

}

.container1 {
    margin-left: auto ;
    margin-right: auto ;
    width: 950px;
}


nav ul {
  text-align:center;
}


nav ul li {
  display:inline-block;
  font-size: 20px;
}

nav ul li a {
  color: #FFF;
  margin: 16px;
  padding: 16px;
  display: block;
}

nav ul li a:hover {
  color: #000;
  transition: color 0.3s ease-in;
}


